body {
    background-image: url('bg.jpg');
    background-size: cover;
    min-height: 100vh;
}

#box {
    height: 600px;
    width: 400px;
    text-align: center;
    background-image: url("/game/type.jpg");
    background-size: cover;
    border-radius: 3%;
    position: fixed;
    top: 15vh;
    left: 40vw;
}

#home {
    position: absolute;
    top: 10px;
    left: 20px;
}

#himg:hover {
    height: 51px;
}

#win {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 200px;

}

#replay {
    position: absolute;
    top: 320px;
    left: 120px;
}

#try:hover {
    height: 61px;
}

#mute {
    position: fixed;
    top: 10px;
    right: 10px;
}

#next {
    position: absolute;
    top: 430px;
    left: 120px;
}

#nimg:hover {
    height: 61px;
}